* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*  font-family: 'Rubik', sans-serif;  */

/* DIV FOR ENTIRE PROJECT */
.main {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    background-color: blanchedalmond;
    border: 2px solid gray;
    border-radius: 10px;
    max-width: 700px;
    min-width: 376px;
    /* height: 300px; */
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
}

/* Heading "Rob's Password..... */
h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    width: 100%;
    padding: 10px 0 30px 0;
}

/* PASSWORD PARAMETERS ie. length, numbers?, symbols? generate button  */
#pass-settings {
    padding: 20px;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#pass-settings label {
    margin: 5px 10px 5px 15px;
}

.generate {
    margin: 0 auto 30px auto;
}


/* GENERATED PASSWORD and COPY BUTTON */
.password {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 0 10px 0;
}

#password-text {
    width: 60%;
}

/*  BUTTONS AND INPUT BOXES  */
input[type=button] {
    background-color: #323633;
    color: white;
    border: 1px solid #323633;
    border-radius: 8px;
    padding: 6px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #999;
}

input[type=button]:hover:enabled {
    background-color: black;
}

input[type=button]:active {
    box-shadow: 3px 3px 3px;
    transform: translateY(2px);
}

input[type=button]:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
input[type=text] {
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    background-color: white;
    padding: 2px 4px 2px 4px;
}

